<div class="container my-5">
    <h1 class="mb-3">Edit Employee</h1>

    <div class="row">
        <div class="col-6">
            <form #form="ngForm" (ngSubmit)="updateEmployee()">
                <div class="mb-3">
                    <label class="form-label" for="id">ID</label>
                    <input type="text" readonly class="form-control" name="id" [(ngModel)]="employee.id">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="name">Name</label>
                    <input type="text" class="form-control" name="name" [(ngModel)]="employee.name">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="email">Email</label>
                    <input type="email" class="form-control" name="email" [(ngModel)]="employee.email">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="phone">Phone</label>
                    <input type="number" class="form-control" name="phone" [(ngModel)]="employee.phone">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="name">Salary</label>
                    <input type="number" class="form-control" name="salary" [(ngModel)]="employee.salary">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="name">Department</label>
                    <input type="text" class="form-control" name="department" [(ngModel)]="employee.department">
                </div>

                <button type="submit" class="btn btn-primary mr-5">Save</button>
                <button type="button" class="btn btn-danger" (click)="deleteEmployee()">
                    Delete
                </button>
            </form>
        </div>
    </div>
</div>
