<div class="container my-5">
    <h1>Employees</h1>
    <table class="table" *ngIf="employees">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Salary</th>
            <th scope="col">Department</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees">
            <td>{{ employee.id }}</td>
            <td>{{ employee.name }}</td>
            <td>{{ employee.email }}</td>
            <td>{{ employee.phone }}</td>
            <td>{{ employee.salary }}</td>
            <td>{{ employee.department }}</td>  
            <td><a [routerLink]="['/employees', 'edit', employee.id]">View</a></td>
          </tr>
        </tbody>
      </table>
      <p *ngIf="!employees">No Employees</p>
</div>